.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin-left: 2%;
}

.logo-img {
  width: 100px;
}

.navmenu-desktop {
  padding: 24px 4%;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  gap: 40px;
  margin-left: auto;
}

.nav-item {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
}
